In [83]:
# Import Dependencies
import pymongo
import requests
import pandas as pd
from bs4 import BeautifulSoup as soup
from splinter import Browser
from urllib.parse import urljoin
from pymongo import MongoClient
from sqlalchemy import create_engine

In [49]:
# Set path to browser & start splinter
browser = Browser('chrome')
url = 'http://quotes.toscrape.com/'

In [50]:
html = browser.html
soup_obj = soup(html, 'html.parser')

In [51]:
def get_quote(soup_obj):
    data = {}
    data['text'] = soup_obj.find("span", class_ = "text").text
    data['author'] = soup_obj.find("small", class_ = "author").text
    link = soup_obj.a['href']
    author_url = urljoin(url, link)
    data['author'] = get_author_info(author_url)
    data['tags'] = get_tags(soup_obj)
    return data

In [52]:
def get_author_info(url):
    author_info = {}
    response = requests.get(url)
    soup1 =  soup(response.text, 'lxml') 
    author_info['name'] = soup1.find('h3', class_="author-title").text.strip()   
    author_info['born'] = soup1.find('span', class_="author-born-date").text.strip()
    author_info['location'] = soup1.find('span', class_="author-born-location").text.strip()
    author_info['description'] = soup1.find('div', class_="author-description").text.strip()
    return author_info

In [53]:
def get_tags(soup_obj):
    tags_list = []
    for tag in soup_obj.findAll("a", class_ = "tag"):
        tags_list.append(tag.text) 
    return tags_list

In [54]:
def all_quotes(page_number):
    quote_list = []
    html = browser.html
    soup_obj = soup(html, 'html.parser')
    quote_block = soup_obj.findAll("div", class_="quote")
    num_quote = 10
    quote_id = (page_number -1)  * num_quote 
    for block in quote_block:
        quote_id = quote_id +1
        quote = get_quote(block)
        quote['id'] = quote_id
        quote_list.append(quote) 
    return quote_list

In [55]:
def scrape_all(url):

    page_number = 0
    final_quotes = []

    for x in range(1,11):
        page_number = page_number +1
        browser.visit(f'http://quotes.toscrape.com/page/{x}/')
        html = browser.html
        soup_obj = soup(html, 'html.parser')

        current_quotes = all_quotes(page_number)
        final_quotes = final_quotes + current_quotes
    return final_quotes

In [56]:
def save(final_quotes):
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quotes_db
    collection = db.quotes
    collection.insert_many(final_quotes)

In [57]:
final_quotes = scrape_all(url)
browser.quit()

In [58]:
save(final_quotes)

In [64]:
def extract_mongo():
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quotes_db
    collection = db.quotes
    return collection

In [77]:
def create_tables(extract):
    quotes_table = []
    authors = []
    authors_table = []
    tags_table = []
    for x in extract.find({}):
        quote = {}
        quote['id'] = x['id']
        quote['author_name'] = x['author']['name']
        quote['text'] = x['text']
        quotes_table.append(quote)

        author = {}
        author['name'] = x['author']['name']
        author['born'] =  x['author']['born']
        author['location'] =  x['author']['location']
        author['description'] = x['author']['description']
        if (author['name'] not in authors):
            authors_table.append(author)
            authors.append(author['name'])

        for tag in x['tags']:
            tags_table.append({'quote_id':x['id'] , 'tag' : tag})    
            
    return (quotes_table , authors_table ,tags_table)

In [78]:
extract = extract_mongo()

In [79]:
(quotes, authors, tags) = create_tables(extract)
quotes_df = pd.DataFrame(quotes)
authors_df = pd.DataFrame(authors)
tags_df = pd.DataFrame(tags)

In [80]:
authors_df.head()

,name,born,location,description
0,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she writes ...
2,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist whose work...
3,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Mortenson; Ju...
4,André Gide,"November 22, 1869","in Paris, France",André Paul Guillaume Gide was a French author ...

In [94]:
connection_string = f"postgres:postgres@localhost:5432/quotes_db"
engine = create_engine(f'postgresql://{connection_string}')

In [95]:
quotes_table_query = '''
    create table quotes(     id INTEGER PRIMARY KEY,    
    author_name varchar(32),    
    text varchar(1500))
'''

tags_table_query = '''
    create table tags(    quote_id INTEGER,    
    tag varchar(32))
'''

author_table_query = '''
    create table author( name varchar(32) PRIMARY KEY,    
    born varchar(32),
    location varchar(32),
    description varchar(10000))
'''

In [107]:
 tables = {'quotes' : quotes_table_query.strip(), 
          'tags' : tags_table_query.strip(),
          'author' : author_table_query.strip()
         }

In [109]:
for table in tables.keys():
    engine.execute(f'drop table IF EXISTS {table}')

In [110]:
for query in tables.items():
    engine.execute(f'{query}')

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "'quotes'"
LINE 1: ('quotes', 'create table quotes(     id INTEGER PRIMARY KEY,...
         ^

[SQL: ('quotes', 'create table quotes(     id INTEGER PRIMARY KEY,    \n    author_name varchar(32),    \n    text varchar(1500))')]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
engine.table_names()

In [ ]:
# quotes_df.to_sql(name='quotes', con=engine, if_exists='append', index=False)

In [ ]:
# tags_df.to_sql(name='tags', con=engine, if_exists='append', index=False)

In [ ]:
# author_df.to_sql(name='author', con=engine, if_exists='append', index=False)